body {
    background: #cdcbcb;
    margin: 0;
}

.grand-container {
    width: 980px;
    height: 50%;

    background: #cdcbcb;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 7%;
}

.container-left-side {
    width: 70%;
    height: 100%;

    background: #cdcbcb;

    padding: 1%;

    border-radius: 3px;
}

.container-right-side {
    width: 30%;
    /*height: 240px;*/
    height: 100%;
    padding: 10px;

    background: #cdcbcb;
}

.bl-row {
    background: white;
    border-radius: 3px;

    height: 100%;
}

.bl-row-padding {
    padding: 10px;

    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    margin-left: auto;
    margin-right: auto;

    background: white;
    border-color: #cdcbcb;

    border-bottom-width: thin;
    border-bottom-color: #cdcbcb;
    border-bottom-style: solid;
}

.button {
    width: 28.1%;
    height: 34px;

    color: white;
    background-color: blue;

    padding: 0;
    border: 0;

    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;

    float: right;
}
/*.standard {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.textArea {
    width: 70%;
    height: 30px;

    border-style: solid;
    border-color: #cdcbcb;
    color: #cdcbcb;

    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;

    padding-left: 1.5%;

    border-width: 1px;
}

.bl-product {
    height: 30px;

    padding: 15px;

    position: relative;

    font-family: sans-serif;

    border-bottom-width: thin;
    border-bottom-color: #cdcbcb;
    border-bottom-style: solid;

    /*border-color: #cdcbcb white;*/
    /*border-style: solid;*/
    /*border-width: thin;*/
}

.tomatoes {
    float: left;

    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add_or_del {
    position: absolute;

    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    padding: 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subtraction-button {
    width: 30px;
    height: 30px;

    border: 0;

    background: #e699b5;
    color: white;

    border-radius: 15px;
}

.textArea_2 {
    width: 30px;
    height: 26px;

    border: 0;
    padding: 0;

    margin: 3px 7px;

    border-radius: 3px;

    background: #ebe9e9;

    text-align: center;
}

.addition-button {
    width: 30px;
    height: 30px;

    border: 0;

    text-align: center;

    background: #3ed339;
    color: white;

    border-radius: 15px;
}

.bl-title {
    font-family: sans-serif;
    padding: 5%;

    height: 25%;
    width: 100%;

    border-bottom-color: #cdcbcb;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.animated-button-container {
    width: 16%;
    height: 14%;

    padding-left: 4%;
    margin-right: 80%;

    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    /*почему не работает с абсолют*/
}

.animated-button-top {
    height: 50%;
    width: 100%;

    position: relative;
    top: 50%;

    background-color: darkviolet;

    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    color: white;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    transition: all 1s ease;

    display:flex;
    align-items: center;
    justify-content: center;
}

.animated-button-bottom {
    height: 50%;
    width: 100%;
    visibility: hidden;

    background-color: darkviolet;

    text-align: center;
    font-size: small;
    font-family: sans-serif;
    color: white;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    transition: all 1s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.animated-button-top:hover {
    background-color: blue;
    transform: translate(0,-100%);
}
.animated-button-top:hover + .animated-button-bottom {
    background-color: blue;
    visibility: visible;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.new {
    width: 55%;
    height: 45%;
    padding-left: 25%;
    padding-right: 20%;
    text-align: left;
    padding-top: 5%;
}
.newp {
    width: 55%;
    height: 47%;
    padding-left: 25%;
    padding-right: 20%;
    padding-bottom: 3%;
    text-align: left;
    font-size: medium;
    font-weight: bold;
}