html {
    width: 100%;
    height: 100%;
}

body {
    background: #DADADA;
    margin: 0;
}

/*:active, :hover, :focus {*/
/*    outline: 0;*/
/*    outline-offset: 0;*/
/*}*/

button {
    outline: none;
}

[data-tooltip] {
    position: relative;

}

[data-tooltip]::after {
    content: attr(data-tooltip);

    position: absolute;

    width: 0; height: 0;
    left: 50%; top: 50%;

    background: darkviolet;
    color: white; text-align: center;

    font-size: 0;
    padding: 0.5em;

    border-radius: 10px;

    pointer-events: none; /* Подсказка */

    opacity: 0; transition: 1s;
}

[data-tooltip]:hover::after {
    opacity: 1;

    height: 16px; width: 100px;
    top: -100%; left: -130%;

    font-size: small;
}

.my-grand-container {
    width: 1100px; height: 50%;

    background: #DADADA;

    margin-left: auto; margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 7%;
}

/*@media only screen and (min-width: 500px) {*/
/*    .my-grand-container {*/
/*        !*height: 100%;*!*/
/*        flex-direction: column;*/
/*    }*/
/*}*/

.my-container-left-side {
    width: 68%; height: 98%;
    background: #DADADA;
    padding: 1%;
    border-radius: 4px;
    /*min-width: 748px !important;*/
    /*display: inline-block;*/

    min-width: 748px;
    position: static;
}

.my-container-right-side {
    width: 28%; height: 98%;
    padding: 1%;
    background: #DADADA;
}

.my-sub-container-left-side {
    background: white;
    border-radius: 4px;
    height: 100%;
}

.my-sub-container-right-side {
    height: 100%;
    width: 100%;

    background: white;

    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-textarea-plus-button-container {
    padding: 15px;

    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

    margin-left: auto; margin-right: auto;

    background: white;
    border-color: #DADADA;

    border-bottom-width: thin;
    border-bottom-style: solid;

    height: 34px;
}

.my-textarea-plus-button-sub-container {
    height: 100%;
}

.my-button {
    width: 14%; height: 100%;

    color: white; background-color: #6880e1;

    padding: 0; border: 0;

    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

    box-sizing: border-box;
}

.my-textArea {
    width: 85%; height: 100%;

    border-style: solid; border-color: #DADADA;
    border-width: 1px;

    color: #DADADA;

    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;

    padding-left: 1.5%;

    box-sizing: border-box;
}

.my-product-container {
    height: 30px;
    padding: 8px 16px;

    position: relative;

    font-family: sans-serif;

    border-bottom-width: thin;
    border-bottom-color: #DADADA;
    border-bottom-style: solid;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-product-name {
    height: 100%;
    width: 33%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Helvetica Neue';
    font-weight: lighter;
}

.my-minus-textarea-plus-container {
    width: 33%;
    padding: 8px 16px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.my-buy-button-and-delete-button-container {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.my-buy-button {
    border: 0;
    height: 100%; width: 75px;
    margin-right: 5px;
    border-radius: 4px;
    font-size: x-small;
    font-weight: bold;
}

.my-delete-button {
    color: white;
    background: #d40000;

    border: 0;
    height: 30px; width: 30px;
    border-radius: 4px;
}

.my-subtraction-button {
    width: 30px; height: 30px;
    border: 0;
    background: #e699b5;
    color: white;
    border-radius: 15px;

}

.my-textarea-counter {
    width: 30px; height: 26px;
    border: 0; padding: 0;
    margin: 3px 7px;
    border-radius: 3px;
    background: #ebe9e9;
    text-align: center;
}

.my-addition-button {
    width: 30px; height: 30px;

    text-align: center;

    background: #21BA45;
    color: white;

    transition: 0.5s;

    border: 0; border-radius: 15px;
}

.my-addition-button:hover {
    background: #1da43f;

}

.bl-title {
    font-family: sans-serif;
    padding: 5%;

    height: 15%; width: 100%; /* а просто в процентах не хочет? */

    border-bottom-color: #DADADA;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.my-buy-list-container {
    font-family: sans-serif;
    padding: 5%;

    height: 15%; width: 100%;

    border-bottom-color: #DADADA;
    border-bottom-style: solid;
    border-bottom-width: thin;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.my-block-in-buy-list {
    display: flex;
    flex-direction: row;
    justify-content: center;

    border-radius: 4px;
    margin: 2px; padding: 7px;
    font-size: x-small;
    font-family: sans-serif;

    height: 100%;
    background: #E8E8E8;;
    align-items: center;
}
.my-text-area-in-buy-list {
    margin-right: 2px;
}

.my-circle-block-in-buy-list {
    background: #ea7600;
    color: white;
    height: 18px;
    width: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
}

.animated-button-container {
    width: 255px; height: 100px;

    margin-left: 4%; margin-right: 80%;

    position: fixed;
    bottom: 0; left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-animated-button-on-top {
    height: 50%; width: 100%;

    position: relative;
    top: 50%;

    background-color: darkviolet;

    text-align: center; font-weight: bold;
    font-family: sans-serif; color: white;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    transition: all 1s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.my-animated-button-on-bottom {
    height: 50%; width: 100%;
    visibility: hidden;

    background-color: darkviolet;

    text-align: center; font-size: small;
    font-family: sans-serif; color: white;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    transition: all 1s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-animated-button-on-top:hover {
    background-color: blue;
    transform: translate(0, -100%);
}

.my-animated-button-on-top:hover + .my-animated-button-on-bottom {
    background-color: blue;
    visibility: visible;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.my-created-by-text-block {
    width: 55%; height: 45%;

    padding-left: 25%; padding-right: 20%;
    padding-top: 5%;

    text-align: left;
}

.my-surname-text-block {
    width: 55%; height: 47%;

    padding-left: 25%; padding-right: 20%;
    padding-bottom: 3%;

    text-align: left;
    font-size: medium; font-weight: bold;
}
@media print {
    .my-animated-button-on-top {
        visibility: hidden;

    }
    .my-animated-button-on-bottom {
        visibility: visible;

        color: black;

        border-style: solid;
        border-width: thick;
        border-color: darkviolet;
    }
}